
/*---цвета---*/

$grey-89: #e3e0e0;			/*фон*/
$carrot: #ef5350;
$grey-34: #565656;			/*текст основной*/
$grey-58: #959595;		/*текст */
$grey-darck: #171717;	/*footer*/
$grey-28: #474747;      /*текст футера*/
$grey-57:#919191;		/*текст заголовка фктера*/
$green: #1de9b6;



/*текст*/
$font: 'Open Sans', sans-serif;
$html-size-base: 10px;
$font-size:	1.4rem;
$font-size--big:1.5rem;
$font-size--small:1.2rem;
$font-size--h2: 3rem;

$container: 1140px;

