
/*---цвета---*/

$blue: #202242;
$yellow: #ffe13e;
$grey: #adadad;
$grey-darck: #696969;
$grey-60: #8d8d99;
$grey-64: #a4a4a4;


/*текст*/
$font: 'Open Sans', Arial, sans-serif;
$html-size-base: 10px;
$font-size:	1.6rem;
$font-size--big: 2rem;
$font-size--lg: 1.8rem;
$font-size--small:1.4rem;
$font-size--h2: 3.4rem;


