
/*---цвета---*/
$blue: #0b7ebe;
$blue-67:#1d65ab; //цвет текста меню футера
$blue-94: #5eccff; //цвет фона меню футера ЕВРОПА
$blue-63: #0453a0;
$green: #a3e88b;
$yellow: #fed385;
$orange:#ffa65e; 
$orange-98: #fbaf5d;
$orange-95: #f26321;
$purpur: #d969ac;


/*текст*/
$font: 'Open Sans', Arial, sans-serif;
$html-size-base: 10px;
$font-size:	1.6rem;
$font-size--big: 2rem;
$font-size--lg: 1.8rem;
$font-size--small:1.4rem;
$font-size--h2: 3.4rem;

$container: 1920px;

