
/*---цвета---*/

$grey: #25262a;			/*текст хедер*/
$grey-11: #1c1c1c;			/*текст меню*/
$grey-60: #9a9a9a;
$grey-btn:#333333;
$blue: #133a81;
$blue-64: #007aa3;			/*фон меню при наведенииж*/
$blue-68: #0082ad;			/*фон выпадающего меню*/
$blue-light: #0082ad;
$green: #4ac6b7;
$green-hd: #15b799;			/*полоса сверху*/
$green-72: #44b7ab;
$green-light:#15b799;
$grey-93:#ececec;		/*цвет фона*/
$grey-92:#e9e9ea;		/*фон copyright*/
$red: #f46b6c; 			/*фон слайдера*/
$grey-icon: #c2c2c2;


/*текст*/
$font: 'Open Sans', sans-serif;
$html-size-base: 10px;
$font-size:	1.6rem;
$font-size--big: 2rem;
$font-size--lg: 1.8rem;
$font-size--small:1.4rem;
$font-size--h2: 3.4rem;

$container: 1140px;

